version: "3.8"

services:
  app:
    build: .
    container_name: zapvoice_local_app
    ports:
      - "8000:8000"
    networks:
      - network_swarm_public
    volumes:
      - ./backend:/app
      - ./entrypoint.sh:/app/entrypoint.sh
      - zapvoice_uploads:/app/static/uploads
    env_file:
      - backend/.env
    environment:
      - PORT=8000
      - PYTHONUNBUFFERED=1
      - VITE_API_URL=http://localhost:8000
      - VITE_WS_URL=ws://localhost:8000
      - RABBITMQ_HOST=zapvoice-rabbit
      - DATABASE_URL=postgresql://postgres:postgres@zapvoice-postgres:5432/zapvoice
      - S3_ENDPOINT_URL=http://zapvoice-minio:9000
      - S3_PUBLIC_URL=http://localhost:9000

  worker:
    build: .
    container_name: zapvoice_local_worker
    command: python worker.py
    networks:
      - network_swarm_public
    volumes:
      - ./backend:/app
      - ./entrypoint.sh:/app/entrypoint.sh
      - zapvoice_uploads:/app/static/uploads
    env_file:
      - backend/.env
    environment:
      - RABBITMQ_HOST=zapvoice-rabbit
      - DATABASE_URL=postgresql://postgres:postgres@zapvoice-postgres:5432/zapvoice
      - S3_ENDPOINT_URL=http://zapvoice-minio:9000
      - S3_PUBLIC_URL=http://localhost:9000

  frontend:
    image: node:20-alpine
    container_name: zapvoice_local_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    environment:
      - VITE_API_URL=http://localhost:8000
      - VITE_WS_URL=ws://localhost:8000
    networks:
      - network_swarm_public

  zapvoice-minio:
    image: minio/minio
    container_name: zapvoice-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"
    networks:
      - network_swarm_public
    volumes:
      - zapvoice_minio_data:/data

  zapvoice-rabbit:
    image: rabbitmq:3-management
    container_name: zapvoice-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - network_swarm_public

  ngrok:
    image: ngrok/ngrok:latest
    container_name: zapvoice_ngrok
    restart: unless-stopped
    command:
      - "http"
      - "http://app:8000"
    ports:
      - "4040:4040"
    networks:
      - network_swarm_public
    env_file:
      - backend/.env

volumes:
  zapvoice_uploads:
    external: true
  zapvoice_minio_data:


networks:
  network_swarm_public:
    external: true
